<div id="sidebar-collapse">
    <div class="admin-block d-flex">
        <div>
            <img src="./assets/img/admin-avatar.png" width="45px" />
        </div>
        <div class="admin-info">
            <div class="font-strong">Users </div><small>Demo</small></div>
    </div>
    <ul class="side-menu metismenu">
        <li>
            <a routerLinkActive="active" routerLink="/index"><i class="sidebar-item-icon fa fa-th-large"></i>
                <span class="nav-label">Dashboard</span>
            </a>
        </li>
        <li class="heading">Examples</li>
        <!-- LMS Menu Start -->
        <li>
            <a routerLinkActive="active" routerLink="/index"><i class="sidebar-item-icon fa fa-sitemap"></i>
                <span class="nav-label">Index </span><i class="fa fa-angle-left arrow"></i></a>
            
        </li>

        <li>
                <a routerLinkActive="active" routerLink="/home"><i class="sidebar-item-icon fa fa-sitemap"></i>
                    <span class="nav-label">Home </span><i class="fa fa-angle-left arrow"></i></a>
               
            </li>
            <li>
                <a routerLinkActive="active" routerLink="/about"><i class="sidebar-item-icon fa fa-sitemap"></i>
                    <span class="nav-label">About</span><i class="fa fa-angle-left arrow"></i></a>
               
            </li>

            <li>
                <a routerLinkActive="active" routerLink="/contact"><i class="sidebar-item-icon fa fa-sitemap"></i>
                    <span class="nav-label">Contact</span><i class="fa fa-angle-left arrow"></i></a>
                
            </li>
          

       
                        
                       
   
    </ul>
</div>
